<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="http://test-demo.aemenersol.com" />
    <add key="ApiUsername" value="user@aemenersol.com" />
    <add key="ApiPassword" value="Test@123" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MYL-SHANAFIAH\SQLEXPRESS;Initial Catalog=AEMEnergyDb;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=AEMEnergyDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\AEMEnergyDb.mdf" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>